
.parents {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    height: 500px;
    width: 500px;
    perspective: 120px;
    margin: 100px;
}
.one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 120px;
    min-width: 500px;

        div {
            height: 200px;
            width: 200px;
            border: 2px solid black;
            transform: skew(30deg);
        }

}
.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    min-width: 500px;
    :nth-child(1) {
        height: 200px;
        width: 200px;
        border: 2px solid black;
        transform: rotateY(30deg);
        }
        :nth-child(2) {
            height: 200px;
            width: 200px;
            border: 2px solid black; 
            transform: rotateY(-30deg);
        }
}
.three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    min-width: 500px;
   
    div {
        height: 200px;
        width: 200px;
        border: 2px solid black;
        transform: rotateX(30deg);
    }
}



