* {
    margin: 0;
    padding: 0;
}

.father {    
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
    "aa bb bb bb bb cc"
    "dd bb bb bb bb ee"
    "ff bb bb bb bb gg"
    "mm mm kk kk nn nn";

    div {
        border: 1px solid rgb(12, 12, 12);
    
           &:nth-child(1) {
            grid-area: aa;

        }

        &:nth-child(2) {
            grid-area: bb;

        }
        &:nth-child(3) {
            grid-area: cc;

        }
        &:nth-child(4) {
            grid-area: dd;

        }
        &:nth-child(5) {
            grid-area: ee;

        }
        &:nth-child(6) {
            grid-area: ff;

        }
        &:nth-child(7) {
            grid-area: gg;

        }
        &:nth-child(8) {
            grid-area: mm;

        }
        &:nth-child(9) {
            grid-area: kk;

        }
        &:nth-child(10) {
            grid-area: nn;

        }
    
         
        }
    }
@media (max-width: 480px) {
    .father {
    grid-gap: 5px;
    grid-template-rows:  50px 50px 50px 50px 50px;
    grid-template-areas: 
    "bb bb bb bb bb bb"
    "bb bb bb bb bb bb"
    "bb bb bb bb bb bb"
    "aa cc dd ee ff gg"
    "mm mm kk kk nn nn";
    }
}
